# Rwanda - Timeseries Data Collection and Preprocessing

This notebook focuses on collecting and preprocessing time-series data relevant to food security indicators. It encompasses a diverse range of data sources, including temperature, rainfall, and food item prices. The collected data undergoes preprocessing to ensure its quality and suitability for predictive modeling of food security indicators. By using this comprehensive dataset, we aim to gain insights into the dynamic interplay between environmental factors, economic variables, and food security outcomes.

## Data Sources

In this section, we provide links to the diverse array of data sources utilized in our analysis. These sources encompass a wide range of domains crucial for understanding food security dynamics, including meteorological data repositories, governmental databases, and market price indices. By using these reputable and diverse sources, we ensure the richness and reliability of the data underpinning our analysis. These data are publicly available on the following data repository:

* [NASA's POWER (Prediction Of Worldwide Energy Resources)](https://power.larc.nasa.gov/data-access-viewer/): 
This resource is part of NASA Earth Science's Applied Sciences Program, designed to support various energy-related applications by providing access to NASA's solar radiation and meteorological research data.The research areas are include in aids of **Renewable Energy**, and **Agricultural Needs**. It is also provides the [API](https://power.larc.nasa.gov/docs/services/api/) services for customs scripts and applications.

### Import Libraries

In [1]:
#!pip install nasa-power
#!pip install cdsapi
#!pip install xarray cfgrib
#!pip install eccodes
#!pip install ecmwflibs

In [56]:
pip install netCDF4

Collecting netCDF4
  Downloading netCDF4-1.6.5-cp38-cp38-win_amd64.whl.metadata (1.8 kB)
Collecting cftime (from netCDF4)
  Downloading cftime-1.6.3-cp38-cp38-win_amd64.whl.metadata (8.8 kB)
Requirement already satisfied: certifi in c:\users\ashas\anaconda3\envs\geo\lib\site-packages (from netCDF4) (2024.2.2)
Requirement already satisfied: numpy in c:\users\ashas\anaconda3\envs\geo\lib\site-packages (from netCDF4) (1.24.3)
Downloading netCDF4-1.6.5-cp38-cp38-win_amd64.whl (6.7 MB)
   ---------------------------------------- 0.0/6.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/6.7 MB 991.0 kB/s eta 0:00:07
   - -------------------------------------- 0.2/6.7 MB 2.4 MB/s eta 0:00:03
   ---- ----------------------------------- 0.7/6.7 MB 4.5 MB/s eta 0:00:02
   ------- -------------------------------- 1.2/6.7 MB 5.4 MB/s eta 0:00:02
   ------- -------------------------------- 1.3/6.7 MB 4.7 MB/s eta 0:00:02
   -------------- ------------------------- 2.4/6.7 MB 7.3 MB/s eta 0:00:01
   ------------------ --------------------- 3.1/6.7 MB 8.5 MB/s eta 0:00:01
   --------------------- ------------------ 3.6/6.7 MB 8.6 MB/s eta 0:00:01
   ------------------------- -------------- 4.2/6.7 MB 9.4 MB/s eta 0:00:01
   ----------------------------- ---------- 4.8/6.7 MB 9.4 MB/s eta 0:00:01
   --------------------------------- ------ 5.5/6.7 MB 10.1 MB/s eta 0:00:01
   ------------------------------------ --- 6.1/6.7 MB 10.0 MB/s eta 0:00:01
   ---------------------------------------  6.5/6.7 MB 9.9 MB/s eta 0:00:01
   ---------------------------------------- 6.7/6.7 MB 9.7 MB/s eta 0:00:00
Downloading cftime-1.6.3-cp38-cp38-win_amd64.whl (188 kB)
   ---------------------------------------- 0.0/188.6 kB ? eta -:--:--
   --------------------------------------- 188.6/188.6 kB 11.9 MB/s eta 0:00:00
Installing collected packages: cftime, netCDF4
Successfully installed cftime-1.6.3 netCDF4-1.6.5
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from pandas import read_csv
import geopandas as gpd
from geopandas import read_file
import matplotlib.pyplot as plt
import requests
import calendar
import cdsapi
import ecmwflibs
import os
import cfgrib
import xarray as xr
import time

## Helper Function

In [4]:
def netcdf_to_dataframe(netcdf_file):
    '''
    Reads a netCDF file and converts its contents into a DataFrame.

    Parameters:
        netcdf_file (str): Path to the netCDF file.

    Returns:
        pandas.DataFrame: DataFrame containing the data from the netCDF file.
                          Each column represents a variable, and each row represents a time step.
    '''
    try:
        # Open the netCDF file using xarray
        ds = xr.open_dataset(netcdf_file,engine="netcdf4")

        # Convert the dataset to a pandas DataFrame
        df = ds.to_dataframe()

        return df

    except Exception as e:
        print("An error occurred:", str(e))
        return None

In [6]:
data = netcdf_to_dataframe('rwanda_data/Test_D_data.nc')
data

                                      t2m         d2m
longitude latitude time
-1.613    29.907   2000-01-01  281.670959  270.093292
                   2000-02-01  285.894989  270.626434
                   2000-03-01  291.244385  271.065491
                   2000-04-01  296.071686  269.452576
          29.656   2000-01-01  281.901215  269.997925
                   2000-02-01  286.160370  270.627380
                   2000-03-01  291.635681  270.940613
                   2000-04-01  296.507965  269.427704
-1.362    29.907   2000-01-01  281.554840  270.123871
                   2000-02-01  285.725220  270.617279
                   2000-03-01  291.039703  271.044159
                   2000-04-01  295.860626  269.449615
          29.656   2000-01-01  281.876099  270.140533
                   2000-02-01  286.033020  270.680939
                   2000-03-01  291.469360  270.985199
                   2000-04-01  296.373322  269.477509

In [32]:
def grib_to_dataframe(grib_file):
    
    '''
    Reads a GRIB file and converts its contents into a DataFrame.

    Parameters:
        grib_file (str): Path to the GRIB file.

    Returns:
        pandas.DataFrame: DataFrame containing the data from the GRIB file.
                          Each column represents a variable, and each row represents a time step.
    '''
    try:
        # Open the GRIB file using xarray with the netcdf4 engine
        #dataset = xr.open_dataset(grib_file, engine="netcdf4")
        ds=xr.open_dataset(grib_file, engine="cfgrib")
        #dataset= cfgrib.open_dataset(grib_file)

        # Convert the dataset to a pandas DataFrame
        df = ds.to_dataframe()

        return df

    except Exception as e:
        print("An error occurred:", str(e))
        return None

In [ ]:
def fetch_ERA5_data_netcdf(min_lat, min_lon, max_lat, max_lon,province,district,save_directory,product_type='monthly_averaged_reanalysis',
year_range=(1990, 2024), month_range=(1, 13), variable=['2m_temperature','2m_dewpoint_temperature']):
    '''
    Fetches ERA5 data for a given region from the CDS API.

    Parameters:
        min_lat (float): The minimum latitude of the region.
        min_lon (float): The minimum longitude of the region.
        max_lat (float): The maximum latitude of the region.
        max_lon (float): The maximum longitude of the region.
        product_type (str, optional): Type of product to retrieve. Defaults to 'monthly_averaged_reanalysis'.
        year_range (tuple, optional): Range of years to retrieve data for. Defaults to (1990, 2024).
        month_range (tuple, optional): Range of months to retrieve data for. Defaults to (1, 13).
        variable (list, optional): List of variables to retrieve. Defaults to ['2m_temperature','2m_dewpoint_temperature'].
        province (str): The province name.
        district (str): The district name
        save_directory (str): Directory path where the downloaded file will be saved.
        

    Returns:
        pandas.DataFrame: DataFrame containing the retrieved temperature data.
    '''
    try:
        # Specify the bounding box for the given region
        
        area = [min_lat,min_lon, max_lat, max_lon]
 
        # Initialize CDS API client
        c = cdsapi.Client()

        # Request parameters
        request = {
            'format': 'netcdf',
            'product_type': product_type,
            'variable': variable,
            'year': list(range(year_range[0], year_range[1])),
            'month': list(range(month_range[0], month_range[1])),
            'time': '00:00',
            'area': area,
        }

        # Send request to retrieve data
        response = c.retrieve('reanalysis-era5-single-levels-monthly-means', request)

        # Get the URL from the response
        download_url = response.location

        # Fetch data from the URL
        data_response = requests.get(download_url)

        # Check if request was successful
        data_response.raise_for_status()

            # Generate file name based on region and district
        file_name = f"{province}_{district}_data.nc"

        # Ensure the directory path exists
        if not os.path.exists(save_directory):
            os.makedirs(save_directory)

        # Ensure the directory path does not end with a backslash
        if save_directory.endswith(os.path.sep):
            save_directory = save_directory[:-1]

        # Save file to the specified directory
        file_path = os.path.join(save_directory, file_name)
        with open(file_path, "wb") as file:
            file.write(data_response.content)

        return response

    except requests.exceptions.RequestException as e:
        print("Request failed:", e)
        return None
    except Exception as e:
        print("An error occurred:", e)
        return None

In [5]:
def compute_district_bounds(shapefile_path):
    
    '''
    Compute the bounds (minimum and maximum longitude and latitude) of districts in a shapefile.

    Args:
    - shapefile_path (str): Path to the shapefile.

    Returns:
    - district_bounds (DataFrame): DataFrame containing province, district,
      minimum longitude, maximum longitude, minimum latitude, and maximum latitude.
    
    '''
    
    # Read the shapefile
    gdf = read_file(shapefile_path)

    # Group by district and compute the maximum and minimum longitude and latitude
    district_bounds = gdf.groupby(['province', 'district'])['geometry'].apply(lambda x: x.bounds).reset_index()

    # Extract maximum and minimum longitude and latitude values
    district_bounds['min_lon'] = district_bounds['minx']
    district_bounds['max_lon'] = district_bounds['maxx']
    district_bounds['min_lat'] = district_bounds['miny']
    district_bounds['max_lat'] = district_bounds['maxy']

    # Select relevant columns
    district_bounds = district_bounds[['province', 'district', 'min_lon', 'max_lon', 'min_lat', 'max_lat']]

    return district_bounds

In [10]:
def compute_country_bounds(shapefile_path):
    '''
    Compute the bounds (minimum and maximum longitude and latitude) of a country in a shapefile.

    Args:
    - shapefile_path (str): Path to the shapefile.

    Returns:
    - country_bounds (DataFrame): DataFrame containing country,
      minimum longitude, maximum longitude, minimum latitude, and maximum latitude.
    
    '''
    
    # Read the shapefile
    gdf = read_file(shapefile_path)

    # Get the unique country name (assuming there is only one country in the shapefile)
    country_name = gdf['country'].unique()[0]

    # Compute the maximum and minimum longitude and latitude for the entire country
    country_bounds = pd.DataFrame({
        'country': [country_name],
        'min_lon': [gdf.total_bounds[0]],
        'max_lon': [gdf.total_bounds[2]],
        'min_lat': [gdf.total_bounds[1]],
        'max_lat': [gdf.total_bounds[3]]
    })
    return country_bounds

## Collecting Temperature Data
Understanding temperature patterns is crucial for agriculture as it impacts various aspects of crop growth, pest management, and water availability. By analyzing temperature trends over time, we can assess the vulnerability of agricultural systems to climate fluctuations and long-term changes which is essential factor for addessing food insecurity and improve agricultural resilience in the context of evolving climate conditions.Therefore in this section, we will be using [NASA's Power API](https://power.larc.nasa.gov/docs/services/api/temporal/monthly/) services to gather comprehensive temperature datasets spanning diverse geographic regions and temporal scales of monthly base. It provides parameters by year; the annual and each month's average, maximum, and/or minimum values. These data can be collected by single point and by regional.

### Function to Fetch Data from CDS 

[ERA5](https://cds.climate.copernicus.eu/cdsapp#!/dataset/reanalysis-era5-single-levels-monthly-means?tab=form)

In [43]:
def fetch_ERA5_data(min_lon, min_lat, max_lon, max_lat,province,district,save_directory,product_type='monthly_averaged_reanalysis',
year_range=(1990, 2024), month_range=(1, 13), variable=['2m_temperature','2m_dewpoint_temperature']):
    '''
    Fetches ERA5 data for a given region from the CDS API.

    Parameters:
        min_lon (float): The minimum longitude of the region.
        min_lat (float): The minimum latitude of the region.
        max_lon (float): The maximum longitude of the region.
        max_lat (float): The maximum latitude of the region.
        product_type (str, optional): Type of product to retrieve. Defaults to 'monthly_averaged_reanalysis'.
        year_range (tuple, optional): Range of years to retrieve data for. Defaults to (1990, 2024).
        month_range (tuple, optional): Range of months to retrieve data for. Defaults to (1, 13).
        variable (list, optional): List of variables to retrieve. Defaults to ['2m_temperature','2m_dewpoint_temperature'].
        province (str): The province name.
        district (str): The district name
        save_directory (str): Directory path where the downloaded file will be saved.
        

    Returns:
        pandas.DataFrame: DataFrame containing the retrieved temperature data.
    '''
    try:
        # Specify the bounding box for the given region
        area = [min_lon, min_lat, max_lon, max_lat]
        
        # Initialize CDS API client
        c = cdsapi.Client()

        # Request parameters
        request = {
            'format': 'grib',
            'product_type': product_type,
            'variable': variable,
            'year': list(range(year_range[0], year_range[1])),
            'month': list(range(month_range[0], month_range[1])),
            'time': '00:00',
            'area': area,
        }

        # Send request to retrieve data
        response = c.retrieve('reanalysis-era5-single-levels-monthly-means', request)

        # Get the URL from the response
        download_url = response.location

        # Fetch data from the URL
        data_response = requests.get(download_url)

        # Check if request was successful
        data_response.raise_for_status()

            # Generate file name based on region and district
        file_name = f"{province}_{district}_data.grib"

        # Ensure the directory path exists
        if not os.path.exists(save_directory):
            os.makedirs(save_directory)

        # Ensure the directory path does not end with a backslash
        if save_directory.endswith(os.path.sep):
            save_directory = save_directory[:-1]

        # Save file to the specified directory
        file_path = os.path.join(save_directory, file_name)
        with open(file_path, "wb") as file:
            file.write(data_response.content)

        # Call grib_to_dataframe with the generated file path
        ds = grib_to_dataframe(file_path)

        if ds is not None:
            # Extract year and month from 'valid_time'
            ds['year'] = pd.to_datetime(ds['valid_time']).dt.year
            ds['month'] = pd.to_datetime(ds['valid_time']).dt.month


            # Select 't2m' represent temperature and d2m reperesent dewpoint temperature
            # specify the column according to the variable you provides
            ds = ds[['year', 'month', 't2m','d2m']]
            #ds = ds[['year', 'month', 't2m']]

        # Return the retrieved data
        return ds

    except requests.exceptions.RequestException as e:
        print("Request failed:", e)
        return None
    except Exception as e:
        print("An error occurred:", e)
        return None

### Function To Collect The Retrieved Data

In [35]:
def collect_the_fetched_data(regions_df, save_directory, product_type='monthly_averaged_reanalysis', year_range=(1990, 2024), month_range=(1, 13), variable=['2m_temperature','2m_dewpoint_temperature']):
    '''
    Collect the retrieved data for multiple regions from the CDS API.

    Parameters:
        regions_df (pandas.DataFrame): DataFrame containing region data including columns 'province', 'district',
                                        and 'min_lon', 'min_lat', 'max_lon', 'max_lat' for each region.
        save_directory (str): Directory path where the downloaded files will be saved.
        
        product_type (str, optional): Type of product to retrieve. Defaults to 'monthly_averaged_reanalysis'.
        year_range (tuple, optional): Range of years to retrieve data for. Defaults to (1990, 2024).
        month_range (tuple, optional): Range of months to retrieve data for. Defaults to (1, 13).
        variable (list, optional): List of variables to retrieve. Defaults to ['2m_temperature','2m_dewpoint_temperature'].

    Returns:
        pandas.DataFrame: DataFrame containing the retrieved data along with region, district, year, month, and t2m information.
    '''
    final_data = []

    for index, row in regions_df.iterrows():
        province = row['province']
        district = row['district']
        min_lon = row['min_lon']
        min_lat = row['min_lat']
        max_lon = row['max_lon']
        max_lat = row['max_lat']

        # Fetch temperature data for the region
        temp_data = fetch_ERA5_data(min_lon, min_lat, max_lon, max_lat,province,district, save_directory, product_type, year_range, month_range, variable)


        if temp_data is not None:
            # Add region and district columns
            temp_data['province'] = province
            temp_data['district'] = district

            final_data.append(temp_data)

    if final_data:
        # Concatenate temperature data for all regions into a single DataFrame
        combined_df = pd.concat(final_data, ignore_index=True)
        return combined_df
    else:
        print("No data retrieved for any region.")
        return None

## Collect Temperature Data 
From 1990 to 2024

#### Read The Shape File to Compute the Boundary

In [36]:
#call the function
districts_bounds = compute_district_bounds('rwanda_data/rw_shapefiles/rw_district.shp')
districts_bounds.head(3)

       province district    min_lon    max_lon   min_lat   max_lat
0  Amajyaruguru   Burera  29.656229  29.997562 -1.612936 -1.308745
1  Amajyaruguru  Gakenke  29.632458  29.932653 -1.873297 -1.549674
2  Amajyaruguru  Gicumbi  29.943953  30.275623 -1.846311 -1.391700

In [ ]:
#fetch_ERA5_data(min_lon, min_lat, max_lon, max_lat

In [52]:
#data=fetch_ERA5_data(29.656229,-1.612936,29.997562,-1.308745,'S','D','rwanda_data/temperature_data',year_range=(2000,2001), month_range=(1, 5), variable=['2m_temperature','2m_dewpoint_temperature'])

In [51]:
data.head(10)

                               year  month         t2m         d2m
time       latitude longitude
2000-01-01 29.907   -1.613     2000      1  281.671082  270.093292
                    -1.362     2000      1  281.554840  270.123871
           29.656   -1.613     2000      1  281.901123  269.997925
                    -1.362     2000      1  281.876099  270.140533
2000-02-01 29.907   -1.613     2000      2  285.894958  270.626434
                    -1.362     2000      2  285.725250  270.617279
           29.656   -1.613     2000      2  286.160461  270.627380
                    -1.362     2000      2  286.033142  270.680908
2000-03-01 29.907   -1.613     2000      3  291.244293  271.065460
                    -1.362     2000      3  291.039612  271.044159

### Define the Arguments

In [50]:
directory ='rwanda_data/temperature_data'
product_type='monthly_averaged_reanalysis'
year=(1990,2024)
month=(1,13)
variable=('2m_temperature','2m_dewpoint_temperature')

#call a function
#data = collect_the_fetched_data(districts_bounds,directory,product_type,year,month,variable)

In [19]:
data.head()

   year  month         t2m         d2m      province district
0  1990      1  282.772888  275.162292  Amajyaruguru   Burera
1  1990      1  282.774414  275.219727  Amajyaruguru   Burera
2  1990      1  282.993225  275.018799  Amajyaruguru   Burera
3  1990      1  283.053406  275.171783  Amajyaruguru   Burera
4  1990      2  287.420288  273.046967  Amajyaruguru   Burera

In [20]:
data.to_csv('rwanda_data/rw_temperature_monthly.csv',index=False)

In [231]:
data.tail(10)

         year  month         t2m         d2m region district
1299470  2023     10  292.926331  283.591980  Tanga    Tanga
1299471  2023     10  292.588470  282.710754  Tanga    Tanga
1299472  2023     11  285.669861  282.353302  Tanga    Tanga
1299473  2023     11  285.330261  282.019623  Tanga    Tanga
1299474  2023     11  285.936829  282.320679  Tanga    Tanga
1299475  2023     11  285.525757  281.869446  Tanga    Tanga
1299476  2023     12  281.379028  278.536865  Tanga    Tanga
1299477  2023     12  281.000244  278.130951  Tanga    Tanga
1299478  2023     12  281.505005  278.613098  Tanga    Tanga
1299479  2023     12  281.096497  277.979492  Tanga    Tanga

#### Testing

In [24]:
def fetch_ERA5_data_netcdf(min_lon, min_lat, max_lon, max_lat,province,district,save_directory,product_type='monthly_averaged_reanalysis',
year_range=(1990, 2024), month_range=(1, 13), variable=['2m_temperature','2m_dewpoint_temperature']):
    '''
    Fetches ERA5 data for a given region from the CDS API.

    Parameters:
        min_lon (float): The minimum longitude of the region.
        min_lat (float): The minimum latitude of the region.
        max_lon (float): The maximum longitude of the region.
        max_lat (float): The maximum latitude of the region.
        product_type (str, optional): Type of product to retrieve. Defaults to 'monthly_averaged_reanalysis'.
        year_range (tuple, optional): Range of years to retrieve data for. Defaults to (1990, 2024).
        month_range (tuple, optional): Range of months to retrieve data for. Defaults to (1, 13).
        variable (list, optional): List of variables to retrieve. Defaults to ['2m_temperature','2m_dewpoint_temperature'].
        province (str): The province name.
        district (str): The district name
        save_directory (str): Directory path where the downloaded file will be saved.
        

    Returns:
        pandas.DataFrame: DataFrame containing the retrieved temperature data.
    '''
    try:
        # Specify the bounding box for the given region
        area = [min_lon, min_lat, max_lon, max_lat]
        area = []
        
        'area': [
            29.32, -11.74, -0.98,
            40.44,
        ],
        'area': [
            0, 27, -11,
            42,
        ]
 
        # Initialize CDS API client
        c = cdsapi.Client()

        # Request parameters
        request = {
            'format': 'netcdf',
            'product_type': product_type,
            'variable': variable,
            'year': list(range(year_range[0], year_range[1])),
            'month': list(range(month_range[0], month_range[1])),
            'time': '00:00',
            'area': area,
        }

        # Send request to retrieve data
        response = c.retrieve('reanalysis-era5-single-levels-monthly-means', request)

        # Get the URL from the response
        download_url = response.location

        # Fetch data from the URL
        data_response = requests.get(download_url)

        # Check if request was successful
        data_response.raise_for_status()

            # Generate file name based on region and district
        file_name = f"{province}_{district}_data.nc"

        # Ensure the directory path exists
        if not os.path.exists(save_directory):
            os.makedirs(save_directory)

        # Ensure the directory path does not end with a backslash
        if save_directory.endswith(os.path.sep):
            save_directory = save_directory[:-1]

        # Save file to the specified directory
        file_path = os.path.join(save_directory, file_name)
        with open(file_path, "wb") as file:
            file.write(data_response.content)

        return response

    except requests.exceptions.RequestException as e:
        print("Request failed:", e)
        return None
    except Exception as e:
        print("An error occurred:", e)
        return None

In [23]:
country_bounds= compute_country_bounds('tanzania_data/tz_shapefiles/tz_country.shp')
country_bounds.head()

    country    min_lon    max_lon    min_lat   max_lat
0  Tanzania  29.327168  40.445137 -11.745695 -0.985788

In [ ]:
#28.8617076879999992,-2.8399727339999599 : 30.8990726480001996,-1.0474501849999500

In [16]:
#fetch_ERA5_data_netcdf(min_lon, min_lat, max_lon, max_lat

In [25]:
data=fetch_ERA5_data_netcdf(29.327168,-11.745695,40.445137,-0.985788,'Tanzania','Country','tanzania_data',year_range=(2000,2003), month_range=(1, 13), variable=['2m_temperature','2m_dewpoint_temperature'])

2024-04-18 17:09:24,323 INFO Welcome to the CDS
2024-04-18 17:09:24,326 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels-monthly-means
2024-04-18 17:09:24,462 INFO Request is queued
2024-04-18 17:09:25,529 INFO Request is running
2024-04-18 17:09:45,595 INFO Request is completed

In [19]:
#data=fetch_ERA5_data_netcdf(28.861708,-2.839973,30.899073,-1.04745,'Rwanda','Country','rwanda_data',year_range=(2000,2003), month_range=(1, 13), variable=['2m_temperature','2m_dewpoint_temperature'])

2024-04-18 14:52:53,117 INFO Welcome to the CDS
2024-04-18 14:52:53,119 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels-monthly-means
2024-04-18 14:52:53,185 INFO Request is queued
2024-04-18 14:52:54,235 INFO Request is running
2024-04-18 14:53:06,644 INFO Request is completed

In [22]:
df=netcdf_to_dataframe('rwanda_data/Rwanda_Country_data.nc')
df.head(20)

                                      t2m         d2m
longitude latitude time
-2.84     30.862   2000-01-01  281.841461  269.385773
                   2000-02-01  287.318481  270.370972
                   2000-03-01  292.214783  271.642944
                   2000-04-01  295.705750  270.124146
                   2000-05-01  299.205170  276.324829
                   2000-06-01  305.844116  275.352722
                   2000-07-01  309.204926  274.686920
                   2000-08-01  307.100952  277.347168
                   2000-09-01  302.595581  277.572235
                   2000-10-01  294.199402  275.712830
                   2000-11-01  290.561859  274.441803
                   2000-12-01  286.212463  273.720093
                   2001-01-01  285.490295  269.945587
                   2001-02-01  286.759827  268.913116
                   2001-03-01  294.782959  272.769958
                   2001-04-01  296.537354  272.870483
                   2001-05-01  299.748322  274.065002
                   2001-06-01  307.318024  274.474609
                   2001-07-01  309.973145  274.910309
                   2001-08-01  308.427338  278.252106